*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Oxygen, sans-serif;
  margin: 2rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: center;
}

.card {
  overflow: hidden;
  box-shadow: 0 2px 20px #808080;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200 ms ease-in;
}

.card__image {
  height: 10rem;
  width: 100%;
  object-fit: cover;
}

.card__title {
  padding: 1rem;
}

.card__description {
  padding: 0 1rem;
}

.card__category {
  padding: 0 1rem;
  font-size: small;
}

.card__price {
  padding: 0 1rem;
  font-weight: bold;
}

.card__btn {
  padding: 1rem;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid #800080;
  background: transparent;
  color: #800080;
  border-radius: 0.2rem;
  transition: background 200ms ease-in, color 200ms ease-in;
}

.card:hover {
  transform: scale(1.02);
}

.card__btn:hover {
  background: #800080;
  color: white;
}

.newest {
  padding: 1rem;
}

.newest__title {
  text-align: center;
  padding: 1rem;
}
