*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  padding: 1rem;
  text-align: center;
}

h2 {
  padding: 1rem;
  text-align: center;
}
body {
  font-family: Oxygen, sans-serif;
}

input {
  padding: 5px;
  margin: 5px 0px;
  border-radius: 5px;
  border: 1px solid gray;
}

label {
  font-size: 16px;
}

.error {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: center;
  padding: 1rem;
}

.small__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 10rem));
  gap: 2rem;
  justify-content: center;
}

.enum_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 10rem));
  gap: 1rem;
  padding: 5px;
}

.card {
  overflow: hidden;
  box-shadow: 0 2px 20px #808080;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200 ms ease-in;
}

.card__image {
  height: 10rem;
  width: 100%;
  object-fit: cover;
}

.card__title {
  padding: 1rem;
}

.card__description {
  padding: 0 1rem;
}

.card__category {
  padding: 0 1rem;
  font-size: small;
}

.card__price {
  padding: 0 1rem;
  font-weight: bold;
}

.button {
  padding: 1rem;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid #800080;
  background: transparent;
  color: #800080;
  border-radius: 0.2rem;
  transition: background 200ms ease-in, color 200ms ease-in;
}

.card:hover {
  transform: scale(1.02);
}

.button:hover {
  background: #800080;
  color: white;
}

.navbar__btn {
  padding: 6px;
  border: 2px solid #800080;
  background: transparent;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.form {
  padding: 1rem;
}

.formInput {
  padding: 5px;
}

.listing__image {
  height: 25rem;
  width: 400px;
  object-fit: cover;
  padding: 5px;
}

.listing__details {
  padding: 5px;
}

.sidebar {
  background-color: #800080;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  padding: 0px 15px 0px 0px;
}

.nav-menu {
  background-color: #800080;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 0px 0px 16px;
  list-style: none;
  height: 35px;
}

.nav-text-sub {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 0px 0px 16px;
  list-style: none;
  height: 35px;
}

.nav-text-title {
  margin-left: 16px;
}

.nav-text-title-sub {
  margin-left: 48px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: white;
  color: #800080;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #800080;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 6rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: #800080;
  color: white;
}

.login {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formInput {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.shortformInput {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 15rem));
  max-width: 500px;
}

input:invalid[focused="true"] {
  border: 1px solid red;
}

input:invalid[focused="true"] ~ .error {
  display: block;
}

.leaflet-container {
  width: 100%;
  height: 50vh;
}

.sidecard__wrapper {
  margin: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
}

.sidecard {
  box-shadow: 0 0 10px 5px #808080;
  border-radius: 0.2rem;
  min-width: 28rem;
  max-width: 40rem;
  display: flex;
}

.sidecard__img {
  padding: 10px;
  width: 12rem;
  height: 10rem;
  object-fit: cover;
}

.sidecard__body {
  margin: 1rem;
}

.sidecard__title {
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

.sidecard__info {
  line-height: 1.2rem;
  margin-bottom: 0.3rem;
}

.sidecard__msg {
  line-height: 1.2rem;
  margin-bottom: 0.3rem;
  font-style: italic;
}

.sidecard:hover {
  transform: scale(1.02);
}

.message__wrapper {
  margin: 1rem;
  padding: 5px;
  box-shadow: 0 0 5px 2px #808080;
  border-radius: 0.2rem;
  background: #f0efef;
  width: 27rem;
}
.messagecard__body {
  margin: 1rem;
  padding: 5px;
  box-shadow: 0 0 5px 2px #808080;
  border-radius: 0.2rem;
  background: #f7f6f6;
  max-width: 25rem;
}

.messagecard__msg {
  line-height: 1.2rem;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}

.paragraph_wrapper {
  text-align: center;
  padding: 1rem;
}

.demo {
  padding: 5 px;
  background-color: #800080;
  color: #f5f5f5;
}
